body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#products, #cart {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
img {
    width: 400px;
    height: 400px;
    cursor: pointer;
}
button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: rgb(30, 30, 137);
    color: white;
    border: none;
    cursor: pointer;
}
h2{background-color: rgb(20, 220, 70);}